<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.QuestionMapper">


  <insert id="insertQestion" parameterType="java.util.List">

    insert into question(id,type,number,title,imageList,questionOption,answer,resolves,answerImageList,vid,difficulty)

    values

    <foreach collection="list" item="item"  separator=",">

      (#{item.id},#{item.type},#{item.number},#{item.title},#{item.imagelist},#{item.questionoption},
      #{item.answer},#{item.resolves},#{item.answerimagelist},(select vid from videoclass where
      vname=#{item.vname}),#{item.difficulty})

    </foreach>

  </insert>



</mapper>